/* C:\Users\rc2ju\OneDrive\Documents\core_3\
     core_3.12_Handling_conflict\style.css*/
hr {
    border: none;
    height: 2px;
    background-color: cyan;
}
body {
  font-family: sans-serif;
}

/* ex-1, Cascade 1 */
#outer div ul .nav a {
  background-color: powderblue;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;
}
div div li a {
  color: rebeccapurple;
}
#outer #inner a {
  background-color: inherit;
}

/* ex-2, Cascade 2 */
@layer yellow, purple, green; 
/* @layer yellow, green, purple; */

@layer yellow {
  #outer div ul .nav a {
    padding: 5px;
    display: inline-block;
    margin-bottom: 10px;
  }
}

@layer green {
  a {
    color: lightgreen;
  }
}

@layer purple {
  div div li a {
    color: rebeccapurple;
  }
}